/* POLICES PERSONNALISEES */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800;900&display=swap');

body{
    width: 100vw; /* 1vw = 1% largeur, 1vh = 1% hauteur */
    height: 100vh;
    margin: 0px;
    background: #FFF;
}

#game_viewport {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ZONE COMBAT */
#combat_area {
    /*background: #F00;*/
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#ennemies_container {
    display: flex;
    flex-direction: row;
}

.ennemy_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4vh;
}

.ennemy_img {
    width: 16vh;
    margin-bottom: 1vh;
}

#characters_container {
    display: flex;
    flex-direction: row;
}

.character_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4vh;
}

.character_img {
    width: 12vh;
    margin-top: 1vh;
}

.cursor {
    width: 6vh;
    visibility: hidden;
}

@media (max-aspect-ratio: 1/1) {
    .ennemy_container {
        margin: 0 2vw;
    }
    .ennemy_img {
        width: 20vw;
    }
    .character_container {
        margin: 0 2vw;
    }
    .character_img {
        width: 16vw;
    }
    .cursor {
        width: 8vw;
    }
}

.ennemy_img:hover{
    cursor:not-allowed;
}
.character_img:hover{
    cursor: url(Assets/crossed_swords.png) 16 16, pointer;
}

/* ZONE COMMANDES ET INFOS */

#command_area {
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    box-shadow: 0vh 0vh 2vh #00000088;
    margin: 2vh;
    padding: 2vh;
    border-radius: 3vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#character_frame {
    background: #FFF;
    box-shadow: inset 0vh 0vh 1vh #00000088;
    height: 14vh;
    max-width: 16vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    margin-right: 2vh;
}

#character_frame img{
    height: 100%;
}

#stats_container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 16vh;
    justify-content: space-between;
    margin-right: 2vh;
}

#stats_container p {
    font-size: 2.5vh;
    margin: 1vh 0;
    font-family: Rubik, Helvetica, sans-serif;
    font-weight: 400;
}

.filler {
    width: 100%;
    height: 3vh;
    border-radius: 2vh;
    box-shadow: inset 0vh 0vh 1vh #00000088;
}

.filler #health_bar{
    background: #6F6;
    border-radius: 2vh;
    box-shadow: inset 0vh 0vh 1vh #00000088;
    height: 100%;
}

.filler #mana_bar {
    background: #5b28c3;
    border-radius: 2vh;
    box-shadow: inset 0vh 0vh 1vh #00000088;
    height: 100%;
}

#commands_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 16vh;
    justify-content: space-between;
}

@media (max-aspect-ratio: 1/1) {
    #commands_container {
        margin-top: 2vh;
        flex-basis: 100%;
    }
    #stats_container {
        margin-right: 0;
    }
}

.command_button {
    box-shadow: 0vh 0vh 1vh #00000088;
    color: #FFF;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    font-size: 2.5vh;
    font-family:Rubik, Helvetica, sans-serif;
    font-weight: 600;
    transition: 0.1s ease-out;
}

.command_button:hover {
    box-shadow: 0vh 0vh 1vh #000000FF;
    transition: 0.1s ease-in;
    cursor: pointer;
}

#attack_button {
    background: #b92a2a;
}
#defend_button {
    background: #00bbc5;
}
#special_button {
    background: #5b28c3;
}