/* POLICES PERSONNALISEES */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800;900&display=swap');

html {
    width: 100%;
    height: 100%;
    font-family: Rubik, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background: url("Assets/wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #361d57;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game_viewport {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ZONE COMBAT */
#combat_area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ennemies_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}

.ennemy_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4vh;
}

.ennemy_img {
    width: 16vh;
    margin-bottom: 1vh;
}

#characters_container {
    display: flex;
    flex-direction: row;
}

.character_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4vh;
}

.character_img {
    width: 12vh;
    margin-top: 1vh;
}

.cursor {
    width: 8vh;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

@media (max-aspect-ratio: 1/1) {
    .ennemy_container {
        margin: 0 2vw;
    }
    .ennemy_img {
        width: 20vw;
    }
    .character_container {
        margin: 0 2vw;
    }
    .character_img {
        width: 16vw;
    }
    .cursor {
        width: 8vw;
    }
}
/* ZONE COMMANDES ET INFOS */

#commands_area {
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    box-shadow: 0vh 0vh 2vh #000000AA;
    margin: 2vh;
    padding: 2vh;
    border-radius: 3vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: 0.15s ease-in-out;
}

#character_frame {
    background: #c187ed;
    box-shadow: inset 0vh 0vh 1vh #00000088;
    height: 14vh;
    max-width: 16vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    margin-right: 2vh;
}

#character_frame img{
    height: 100%;
    filter: drop-shadow(0 0 .5vh black);
}

#stats_container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 16vh;
    justify-content: space-between;
    margin-right: 2vh;
}

#stats_container p {
    font-size: 2.5vh;
    margin: 1vh 0;
    font-weight: 400;
}

.filler {
    flex: 1;
    height: 3vh;
    border-radius: 2vh;
    box-shadow: inset 0vh 0vh .5vh #00000088;
    overflow: hidden;
}

.filler > div {
    display: flex;
    align-items: center;
    color: #FFF;
    text-shadow: 0vh 0vh .5vh #000000FF;
    font-weight: 600;
    font-size: 2vh;
    padding-left: 1vh;
    border-radius: 2vh;
    box-shadow: inset 0vh 0vh .5vh #00000088;
    height: 100%;
    transition: 0.15s ease-in-out;
}

.health_bar{
    background: #e8377a;
}

.mana_bar {
    background: #f4ae2c;
}

#commands_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 16vh;
    justify-content: space-between;
}

@media (max-aspect-ratio: 1/1) {
    #commands_container {
        margin-top: 2vh;
        flex-basis: 100%;
    }
    #stats_container {
        margin-right: 0;
    }
}

.command_button {
    box-shadow: none;
    color: #FFF;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    font-size: 2.5vh;
    font-weight: 600;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.command_button img {
    height: 60%;
    margin-right: 1vh;
    filter: drop-shadow(0 0 .1vh #000000FF);
}

.command_button:hover {
    box-shadow: 0vh 0vh .5vh #000000DD;
    transition: 0.15s ease-in-out;
}

.command_button:active {
    box-shadow: inset 0vh 0vh .5vh #00000088;
    transition: 0.1s ease-in-out;
}

#attack_button {
    background: #e8377a;
}
#defend_button {
    background: #459ddd;
}
#special_button {
    background: #f4ae2c;
}

#dialog_area {
    position: absolute;
    top: -10vh;
    left: 2vh;
    right: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFFAA;
    box-shadow: 0 0 1vh #00000088;
    border-radius: 2vh;
    font-size: 2.5vh;
    padding: 1vh 2vh;
    transition: 0.5s ease-in-out;
}

@media (max-aspect-ratio: 1/1) {
    #dialog_area {
        justify-content: flex-start;
        font-size: 4vw;
   }
}

#stats_popup {
    position: absolute;
    background: #FFFFFFAA;
    padding: 1vh;
    border-radius: 1vh;
    visibility: hidden;
    font-size: 2vh;
}

.effects_container {
    display: flex;
    height: 3vh;
}

.effect_icon {
    height: 100%;
}

#tutorial_popup {
    position: absolute;
    width: 20vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 0 1vh #000000DD;
    border-radius: 2vh;
    font-size: 2vh;
    font-weight: 600;
    padding: 2vh;
    justify-content: space-between;
    align-items: center;
}

#tutorial_buttons {
    display: flex;
    justify-content: space-between;
    height: 6vh;
    width: 18vh;
}

#tutorial_buttons div {
    display: flex;
    box-shadow: 0 0 .5vh #000000AA;
    border-radius: 1vh;
    width: 8vh;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

#skip_tutorial_button {
    background: #361d57;
    color: #FFF;
}

#tutorial_buttons div:hover {
    box-shadow: 0vh 0vh .5vh #000000DD;
    transition: 0.15s ease-in-out;
}

#game_end_screen {
    display: none;
    position: absolute;
    background: #00000088;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#game_end_box {
    display: none;
    position: absolute;
    width: 20vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 0 1vh #000000DD;
    border-radius: 2vh;
    font-size: 2vh;
    font-weight: 600;
    padding: 2vh;
    justify-content: space-between;
    align-items: center;
}

#play_again_button {
    display: flex;
    box-shadow: 0 0 .5vh #000000AA;
    border-radius: 1vh;
    width: 20vh;
    height: 6vh;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    background: #361d57;
    color: #FFF;
}

#play_again_button div:hover {
    box-shadow: 0vh 0vh .5vh #000000DD;
    transition: 0.15s ease-in-out;
}
